<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805740518939-atf5o0ui3tkpgba35sempahh4tp4gmvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805740518939-atf5o0ui3tkpgba35sempahh4tp4gmvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCy3D0CYJwEeyxjl3t4rWoDAo0vW5D78N0</string>
	<key>GCM_SENDER_ID</key>
	<string>805740518939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourspotApp</string>
	<key>PROJECT_ID</key>
	<string>yourspot-3cd1b</string>
	<key>STORAGE_BUCKET</key>
	<string>yourspot-3cd1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805740518939:ios:3bcd8437bf862abdaba2be</string>
</dict>
</plist>