<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808217278836-amc3smocp7qpl6pq7f8vs9pol7dk1jkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808217278836-amc3smocp7qpl6pq7f8vs9pol7dk1jkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDAFoIUZaxvThxS-oojbLKV_bcv_anmSHs</string>
	<key>GCM_SENDER_ID</key>
	<string>808217278836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourspotApp</string>
	<key>PROJECT_ID</key>
	<string>finalsmartparking</string>
	<key>STORAGE_BUCKET</key>
	<string>finalsmartparking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808217278836:ios:f7d539b2068ed648285421</string>
	<key>DATABASE_URL</key>
	<string>https://finalsmartparking-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>